# Server Environment Variables
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

# MongoDB Database Connection String
MONGO_URI=mongodb://127.0.0.1:27017/productivityos

# JWT Secret Key for Token Authentication
JWT_SECRET=production-secret-jwt-key-productivityos-pro-2026

# Backend Firebase Admin Configuration (Optional)
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_CLIENT_EMAIL=YOUR_CLIENT_EMAIL
FIREBASE_PRIVATE_KEY="YOUR_PRIVATE_KEY"
